In [47]:
import pandas as pd
import numpy as np
from glob import glob
import matplotlib.pyplot as plt 
from matplotlib import font_manager, rc 
%matplotlib inline

font_path='C:/Windows/Fonts/malgun.ttf' 
font_name= font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

In [24]:
def modify_data(df):
    target_cols=df.iloc[15].values
    change_cols=dict( [(org,new) for org, new in  zip(df.columns, target_cols)])
    df.rename( columns=change_cols, inplace=True)
    df= df[16:]
    df.reset_index(drop=True, inplace=True)
    return df

In [25]:
op_df=pd.read_excel('./오피스텔_실거래가_20191215.xlsx', encoding='euc-kr')
op_df.head(20)

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,* 주택매매 거래는 부동산 거래신고 등에 관한 법률 제3조에 따라 계약일로부터 60...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 콜센터 1588-01...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,□ 검색조건,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,계약일자 : 20190101 ~ 20191130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,실거래 구분 : 오피스텔(전월세),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,주소구분 : 지번주소,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,시도 : 서울특별시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,시군구 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,읍면동 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,면적 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,금액선택 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명
16,서울특별시 강남구 개포동,157-9,0157,0009,\t(157-9)\t,월세,36.96,201905,9,"2,000",75,3,2011,선릉로4길 19
17,서울특별시 강남구 개포동,157-9,0157,0009,\t(157-9)\t,전세,36.96,201911,1,"20,000",0,3,2011,선릉로4길 19
18,서울특별시 강남구 개포동,1229-6,1229,0006,CCRU오피스텔,전세,22.12,201911,20,"18,000",0,4,2019,논현로 78
19,서울특별시 강남구 개포동,1237-8,1237,0008,YH빌리지,전세,37.41,201911,7,"28,000",0,2,2017,논현로20길 22

In [26]:
result_op_df=modify_data(op_df)
result_op_df.head(5)

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,157-9,0157,0009,\t(157-9)\t,월세,36.96,201905,9,"2,000",75,3,2011,선릉로4길 19
1,서울특별시 강남구 개포동,157-9,0157,0009,\t(157-9)\t,전세,36.96,201911,1,"20,000",0,3,2011,선릉로4길 19
2,서울특별시 강남구 개포동,1229-6,1229,0006,CCRU오피스텔,전세,22.12,201911,20,"18,000",0,4,2019,논현로 78
3,서울특별시 강남구 개포동,1237-8,1237,0008,YH빌리지,전세,37.41,201911,7,"28,000",0,2,2017,논현로20길 22
4,서울특별시 강남구 개포동,13-3,0013,0003,대청타워,전세,37.55,201902,16,"16,000",0,22,1997,개포로 623

In [27]:
ap_df=pd.read_excel('./아파트_실거래가_20191215.xlsx', encoding='euc-kr')
ap_df.head(20)

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,* 주택매매 거래는 부동산 거래신고 등에 관한 법률 제3조에 따라 계약일로부터 60...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 콜센터 1588-01...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,□ 검색조건,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,계약일자 : 20190101 ~ 20191130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,실거래 구분 : 아파트(전월세),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,주소구분 : 지번주소,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,시도 : 서울특별시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,시군구 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,읍면동 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,면적 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,금액선택 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명
16,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),월세,77.75,201901,29,"36,000",60,8,1988,언주로 103
17,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),전세,77.75,201903,23,"50,000",0,9,1988,언주로 103
18,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),전세,77.75,201904,2,"50,000",0,5,1988,언주로 103
19,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),전세,77.75,201907,23,"60,000",0,4,1988,언주로 103

In [28]:
result_ap_df=modify_data(ap_df)
result_ap_df.head(5)

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),월세,77.75,201901,29,"36,000",60,8,1988,언주로 103
1,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),전세,77.75,201903,23,"50,000",0,9,1988,언주로 103
2,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),전세,77.75,201904,2,"50,000",0,5,1988,언주로 103
3,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),전세,77.75,201907,23,"60,000",0,4,1988,언주로 103
4,서울특별시 강남구 개포동,655-2,0655,0002,개포2차현대아파트(220),전세,77.75,201908,24,"50,000",0,9,1988,언주로 103

In [29]:
sum_df = pd.concat([result_op_df, result_ap_df], keys=['result_op_df','result_ap_df']) #2개를 합침
sum_df.head(5)

                          시군구      번지    본번    부번          단지명 전월세구분 전용면적(㎡)  \
result_op_df 0  서울특별시 강남구 개포동   157-9  0157  0009  \t(157-9)\t    월세   36.96
             1  서울특별시 강남구 개포동   157-9  0157  0009  \t(157-9)\t    전세   36.96
             2  서울특별시 강남구 개포동  1229-6  1229  0006     CCRU오피스텔    전세   22.12
             3  서울특별시 강남구 개포동  1237-8  1237  0008        YH빌리지    전세   37.41
             4  서울특별시 강남구 개포동    13-3  0013  0003         대청타워    전세   37.55

                  계약년월 계약일         보증금(만원)          월세(만원)   층  건축년도  \
result_op_df 0  201905   9           2,000              75   3  2011
             1  201911   1          20,000               0   3  2011
             2  201911  20          18,000               0   4  2019
             3  201911   7          28,000               0   2  2017
             4  201902  16          16,000               0  22  1997

                      도로명
result_op_df 0   선릉로4길 19
             1   선릉로4길 19
             2     논현로 78
             3  논현로20길 22
             4    개포로 623

In [30]:
del sum_df["번지"]
del sum_df["층"]
del sum_df["부번"]
del sum_df["본번"]
del sum_df["단지명"]

In [31]:
sum_df.head(50)

                           시군구 전월세구분 전용면적(㎡)    계약년월 계약일         보증금(만원)  \
result_op_df 0   서울특별시 강남구 개포동    월세   36.96  201905   9           2,000
             1   서울특별시 강남구 개포동    전세   36.96  201911   1          20,000
             2   서울특별시 강남구 개포동    전세   22.12  201911  20          18,000
             3   서울특별시 강남구 개포동    전세   37.41  201911   7          28,000
             4   서울특별시 강남구 개포동    전세   37.55  201902  16          16,000
             5   서울특별시 강남구 개포동    전세   31.91  201903   4          15,000
             6   서울특별시 강남구 개포동    전세   32.44  201903   5          14,000
             7   서울특별시 강남구 개포동    전세   31.91  201903  20          17,000
             8   서울특별시 강남구 개포동    전세   31.91  201903  29          16,000
             9   서울특별시 강남구 개포동    전세   32.44  201904  13          14,000
             10  서울특별시 강남구 개포동    월세   31.91  201905  17           1,000
             11  서울특별시 강남구 개포동    월세   32.44  201905  27           1,000
             12  서울특별시 강남구 개포동    월세   43.24  201905  28           3,000
             13  서울특별시 강남구 개포동    전세   32.44  201905  30          14,000
             14  서울특별시 강남구 개포동    전세   31.91  201906  14          17,000
             15  서울특별시 강남구 개포동    전세   32.44  201907   8          14,000
             16  서울특별시 강남구 개포동    전세   37.55  201907  18          21,000
             17  서울특별시 강남구 개포동    전세   32.44  201908   6          16,000
             18  서울특별시 강남구 개포동    월세   32.44  201908  12           1,000
             19  서울특별시 강남구 개포동    월세   32.44  201909   3           1,000
             20  서울특별시 강남구 개포동    전세   32.44  201909   5          16,500
             21  서울특별시 강남구 개포동    월세   43.24  201909   9           1,000
             22  서울특별시 강남구 개포동    월세    22.6  201904   7           3,000
             23  서울특별시 강남구 개포동    월세   25.72  201905  29           1,000
             24  서울특별시 강남구 개포동    월세    22.6  201906  12           2,000
             25  서울특별시 강남구 개포동    월세      22  201902  12           1,000
             26  서울특별시 강남구 개포동    월세      22  201902  21           1,000
             27  서울특별시 강남구 개포동    월세      22  201903   2           3,000
             28  서울특별시 강남구 개포동    전세   30.02  201905  22          29,000
             29  서울특별시 강남구 개포동    월세   30.02  201905  25           3,000
             30  서울특별시 강남구 개포동    월세      22  201906   5             500
             31  서울특별시 강남구 개포동    월세   30.02  201906  26           2,000
             32  서울특별시 강남구 개포동    전세      22  201906  29          21,000
             33  서울특별시 강남구 개포동    월세   30.02  201907  13           3,000
             34  서울특별시 강남구 개포동    전세      22  201907  31          12,000
             35  서울특별시 강남구 개포동    전세      22  201908   7          22,000
             36  서울특별시 강남구 개포동    전세      22  201908   7          22,000
             37  서울특별시 강남구 개포동    전세      22  201908  12          22,000
             38  서울특별시 강남구 개포동    전세      22  201910   3          23,000
             39  서울특별시 강남구 개포동    전세   30.02  201910  14          30,000
             40  서울특별시 강남구 개포동    월세      22  201911   9           1,000
             41  서울특별시 강남구 개포동    월세      22  201911  13           1,000
             42  서울특별시 강남구 개포동    월세   30.02  201911  21          14,000
             43  서울특별시 강남구 개포동    월세      22  201911  30           3,000
             44  서울특별시 강남구 개포동    전세   59.64  201905   1          36,000
             45  서울특별시 강남구 논현동    전세   39.34  201911   9          14,000
             46  서울특별시 강남구 논현동    월세   27.06  201911  23          13,000
             47  서울특별시 강남구 논현동    전세   22.05  201902  15           9,500
             48  서울특별시 강남구 논현동    월세   38.75  201903  28           1,000
             49  서울특별시 강남구 논현동    월세   78.05  201904  24           3,000

                         월세(만원)  건축년도           도로명
result_op_df 0               75  2011      선릉로4길 19
             1                0  2011      선릉로4길 19
             2                0  2019        논현로 78
             3                0  2017     논현로20길 22
             4                0  1997       개포로 623
             5                0  1997       개포로 623
             6                0  1997       개포로 623
             7                0  1997       개포로 623
             8                0  1997       개포로 623
             9                0  1997       개포로 623
             10              60  1997       개포로 623
             11              55  1997       개포로 623
             12              80  1997       개포로 623
             13               0  1997       개포로 623
             14               0  1997       개포로 623
             15               0  1997       개포로 623
             16               0  1997       개포로 623
             17               0  1997       개포로 623
             18              70  1997       개포로 623
             19              65  1997       개포로 623
             20               0  1997       개포로 623
             21              90  1997       개포로 623
             22              40  2005  논현로18길 10-10
             23              58  2005  논현로18길 10-10
             24              50  2005  논현로18길 10-10
             25             100  2018       개포로 504
             26              90  2018       개포로 504
             27              75  2018       개포로 504
             28               0  2018       개포로 504
             29             120  2018       개포로 504
             30              90  2018       개포로 504
             31             120  2018       개포로 504
             32               0  2018       개포로 504
             33             120  2018       개포로 504
             34               0  2018       개포로 504
             35               0  2018       개포로 504
             36               0  2018       개포로 504
             37               0  2018       개포로 504
             38               0  2018       개포로 504
             39               0  2018       개포로 504
             40              80  2018       개포로 504
             41              80  2018       개포로 504
             42              50  2018       개포로 504
             43              75  2018       개포로 504
             44               0  2017        논현로 72
             45               0  2003   선릉로129길 3-4
             46              10  2003   선릉로129길 3-4
             47               0  1987    도산대로46길 11
             48             119  2005       학동로 342
             49             200  2005       학동로 342

In [64]:
sum_df["시군구"].plot(kind="bar", grid=True, figsize=(10,5), color="blue")

Empty DataFrame
Columns: [시군구, 번지, 본번, 부번, 단지명, 전월세구분, 전용면적(㎡), 계약년월, 계약일, 보증금(만원), 월세(만원), 층, 건축년도, 도로명]
Index: []